# Task 2: Stock Price Quantitative Analysis

## 1. Setup

First, let's set up the environment by importing necessary libraries and loading the data.

In [1]:
# Import necessary libraries and modules
import os
import sys

sys.path.insert(0, os.path.dirname(os.getcwd()))

from scripts.stock_data_analysis import stockeda

# Suppress FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Load the dataset
data_path = '../data/yfinance_data'
analysis = stockeda(data_path)

# Load the data
analysis.load_data()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,stock_symbol
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0,AAPL
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0,AAPL
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0,AAPL
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0,AAPL
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...,...,...
45423,2024-07-24,225.419998,225.990005,214.710007,215.990005,215.990005,167942900,0.0,0.0,TSLA
45424,2024-07-25,216.800003,226.000000,216.229996,220.250000,220.250000,100636500,0.0,0.0,TSLA
45425,2024-07-26,221.190002,222.279999,215.330002,219.800003,219.800003,94604100,0.0,0.0,TSLA
45426,2024-07-29,224.899994,234.270004,224.699997,232.100006,232.100006,129201800,0.0,0.0,TSLA
45427,2024-07-30,232.250000,232.410004,220.000000,222.619995,222.619995,100560300,0.0,0.0,TSLA

## 2. Data Overview and Descriptive Analysis

In [3]:
analysis.data_descriptive()

Missing values:
Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
stock_symbol    0
dtype: int64


 Number of duplicates: 0


 Data types:
Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Adj Close              float64
Volume                   int64
Dividends              float64
Stock Splits           float64
stock_symbol            object
dtype: object


 Descriptive Statistics:
                                 Date          Open          High  \
count                           45428  45428.000000  45428.000000
unique                            NaN           NaN           NaN
top                               NaN           NaN           NaN
freq                              NaN           NaN           NaN
mean    2009-04-26 08:53:21.549704960     46.798370     47.397792
min               1980-12-12 00:00:00      0.034896      0.035547
25%               2002-02-25 18:00:00      0.690500      0.708000
50%               2011-06-20 12:00:00     13.646101     13.827710
75%               2018-02-15 00:00:00     47.242501     47.720626
max               2024-07-30 00:00:00    542.349976    542.809998
std                               NaN     78.259474     79.277620

                 Low         Close     Adj Close        Volume     Dividends  \
count   45428.000000  45428.000000  45428.000000  4.542800e+04  45428.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean       46.190101     46.810590     45.367891  2.177785e+08      0.000847
min         0.033333      0.034115      0.031291  0.000000e+00      0.000000
25%         0.673541      0.693604      0.585204  4.746455e+07      0.000000
50%        13.463250     13.644750     13.076301  9.921200e+07      0.000000
75%        46.628125     47.193626     44.768961  2.610595e+08      0.000000
max       528.359985    539.909973    539.909973  9.230856e+09      3.080000
std        77.218532     78.274673     78.049554  3.076645e+08      0.022527

        Stock Splits stock_symbol
count   45428.000000        45428
unique           NaN            7
top              NaN         AAPL
freq             NaN        10998
mean        0.002499          NaN
min         0.000000          NaN
25%         0.000000          NaN
50%         0.000000          NaN
75%         0.000000          NaN
max        20.000000          NaN
std         0.155291          NaN